h1, h2, h3, p, small, i, label, span, button,
ol, li, ul, a, input, label, .-h1, .-h2, .-h3 {
    font-family: $font1;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    @include Font1Weight(5);
}

.edit-post-visual-editor .editor-styles-wrapper p {
    font-size: $font-p2;
    line-height: auto;

    @include mediaQueriesMinMd {
        font-size: $font-h6;
        line-height: 30px;
    }
}


// Styles
.-uppercase {
    text-transform: uppercase;
}
.-black {
    @include Font1Weight(9);
}
.-extraBold {
    @include Font1Weight(8);
}
.-bold {
    @include Font1Weight(7);
}
.-semiBold {
    @include Font1Weight(6);
}
.-medium {
    @include Font1Weight(5);
}
.-regular {
    @include Font1Weight(4);
}
.-light {
    @include Font1Weight(3);
}
.-extraLight {
    @include Font1Weight(2);
}
.-thin {
    @include Font1Weight(1);
}


.-italic {
    font-style: italic;
}
.-center {
    text-align: center;
}
.-condensed {
    letter-spacing: -1px;
}
.-semiBoldCondensed {
    letter-spacing: -0.35px;
}

// Font
.-loose {
    letter-spacing: .16px;
}

// Color
.-colorLightin {
    color: $color-lightin;
}

// Line-clamp
.-lineClampTitle {
    @include lineClamp(2);
}
.-lineClampTitleLong {
    @include lineClamp(4);
}
.-lineClampText {
    @include lineClamp(3);
}
