/* ------------------------------------
 #               Tech
 -------------------------------------- */

.tech {
    position: relative;
    z-index: 10;
    margin-top: -80px;
    padding-bottom: 120px;

    @include mediaQueriesMinMd {
        margin-top: -50px;
    }
}

.tech__container {
    @extend .container;
}

.tech__content {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: $color-lightgrey;
    padding: 30px;
    gap: 32px;
    
    .wp-block-image {
        width: auto !important;
        margin: 0 !important;

        img {
            object-fit: none !important;
        }
    }

    p {
        font-size: $font-p2;
        color: #667085;
    }

    @include mediaQueriesMd {
        h3, p {
            text-align: center;
        }

        .wp-block-gallery {
            margin: 0 auto;
            justify-content: center;
        }
        
        .wp-block-image {
            flex-basis: 30%;
            flex-grow: 0 !important;

            figure {
                align-items: center;
                justify-content: center;
                width: fit-content;
                margin: 0 auto;
            }

            img {
                max-width: fit-content !important;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
    }
    
    @include mediaQueriesMinMd {
        padding: 45px 64px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .wp-block-gallery {
            flex-wrap: nowrap;
        }

        .tech__imgs {
            .wp-block-gallery {
                justify-content: flex-end;
            }
        }

        p {
            font-size: $font-h5;
        }
    }
}