
body .wp-block-columns {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

*, :after, :before {
    box-sizing: border-box;
}

* {
    // Scroll bar
    &::-webkit-scrollbar {
        background: transparent;
        width: 10px;
        height: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 30px;
        
        &:hover {
            background-color: #bbb;
        }
    }
    
    &::-webkit-scrollbar-track {
        background: #ddd;
    }
}

body {
    color: #FAFBFE;
    overflow-x: hidden;

    // Placeholders of the site
    ::placeholder { 
        color: $color-gray;
        opacity: 1;
    }
    
}

dl, ol, ul {
    margin: 0;
    padding: 0;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

blockquote {
    margin: 0;
}

::selection {
    background-color: $color-black;
    color: $color-lightin;
}

input {
    &:focus-visible {
        outline: none;
    }
}

summary {
    list-style: none;
    list-style-type: none;

    &::-webkit-details-marker,
    details > &::-webkit-details-marker {
        display: none;
    }

    &::marker,
    details > &::marker {
        display:none;
    }

    &:hover, &:focus, &:active {
        outline: none;
    }
}

details > summary {
    list-style: none;
    list-style-type: none;
}

hr {
    border-top: none !important;
    border-bottom: 1px solid #c4c4c4 !important;
}
  

// --- Margin Scroll ---
* {
    scroll-margin-top: 150px;
}


.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child) {
    @media (min-width: 600px) and (max-width: 781px) {
        flex-basis: 100% !important;
    }
}